

/* Home page */
.hero-image {
    background-image: url('https://cdn.pixabay.com/photo/2017/06/01/18/46/cook-2364221_1280.jpg'); 
    background-size: cover;
    background-position: center;
    width: 1200px;
    height: 600px;
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
}

.hero-text {
    text-shadow: 2px 2px 4px #000;
}

.hero-text h1 {
    font-size: 48px;
    margin-top: 150px;
}

.hero-text p {
    font-size: 24px;
}

@media (width >= 1700px) {

    .hero-image {
        height: 800px;
    }
    
}