.error-container {
    position: fixed;
    right: 50px;
    display: block;
    top: 15%;
    text-align: center;
    border-radius: 12px;
    color: #c71414;
    font-style: italic;
    height: auto;
    width: 380px;
    box-shadow: 0px 0px 8px 7px #c71414;
    background-color: aliceblue;
}

.error-container p {
    font-size: medium;
    font-weight: bold;
}
    
